<h2>Edit your warranty</h2>

<h2>{{warranties.product}}</h2>

{{#each warranties}}
<form action="/warranty/{{this._id}}/edit" method="post">
  <div>
    <label for="warrantyType-update">Warranty type</label>
    <select name='warrantyType' id='warrantyType-update' value="{{this.warrantyType}}">
      <option value='builder'>builder</option>
      <option value='seller'>seller</option>
      <option value='payment'>payment</option>
      <option value='insurance'>insurance</option>
    </select>
  </div>

  <label for="durationInMonths-update">Warranty duration in months</label>
  <input type="number" name="durationInMonths" id="durationInMonths-update" value="{{this.durationInMonths}}"></input>

  <label for="provider-update">provider</label>
  <input type="text" id="provider-update" name="provider" value="{{this.provider}}">

  <label for="policyImg-update">warranty extra document</label>
  <input type="text" id="policyImg-update" name="policyImg" value="{{this.policyImg}}">


  <button id="warranty-update">Update your warranty</button>

</form>

<form action='/warranty/{{this._id}}/delete' method='post'>
  <button>Delete this warranty</button>
</form>
{{/each}}