{{#if errorMessage}}
<p class='error'>{{errorMessage}}</p>
{{/if}}

<h2>Edit product</h2>

<form action='/items/{{itemToUpdate._id}}/edit' method='post'>
  <label for="category">Category</label>

  <input type='text' name='category' value='{{itemToUpdate.category}}' />

  <label for="brand">Brand</label>
  <input type='text' name='brand' value='{{itemToUpdate.brand}}' />

  <label for="name">Name</label>
  <input type='text' name='name' value='{{itemToUpdate.name}}' />

  <label for="purchaseDate">Purchase date</label>
  {{log itemToUpdate.purchaseDate}}
  <input type="date" name="purchaseDate" value="{{itemToUpdate.purchaseDate}}">

  <label for="price">Purchase price</label>
  <input type="price" name="price" value="{{itemToUpdate.price}}">

  <button><a href='/warranty/{{itemToUpdate._id}}/edit-warranty'>Edit warranties</a></button>
  <button>Submit</button>


</form>