<h2>Product details</h2>

<div>
  <p>{{oneItem.category}}</p>
  <p>{{oneItem.brand}}</p>
  <p>{{oneItem.name}}</p>
  <p>{{oneItem.purchaseDate}}</p>
  <p>{{oneItem.expirationDate}}</p>
  <p>{{oneItem.price}}</p>
  <form action='/items/{{oneItem._id}}/delete' method='post'>
    <button>Delete this product</button>
  </form>
  <a href='/items/{{oneItem._id}}/edit'>Edit product</a>
  <a href='/warranty/{{oneItem._id}}/edit-warranty'>Edit warranties</a>

</div>