<h2>My products</h2>

{{#each allItems}}

<a href="/items/{{_id}}">
  <div class="item-box">
      <p>{{category}}</p>
      <p>{{brand}}</p>
      <p>{{name}}</p>
      <p>Warranty until:</p><p> {{expirationDate}}</p>
  </div>
</a>
{{/each}}
